<h1>Create a new pizza!</h1>
<form action = "/pizzas" method = "post">
<p>Pizza type: <input type = "text" name = "type"></p>
<p>Size: <input type = "text" name = "size"></p>
<p>Price: <input type = "text" name = "price"></p>
<p><input type = "submit" /></p>
</form>
